*,
*::after,
*::before {
	box-sizing: border-box;
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 500;
	src: url('../../public/fonts/Roobert-Regular.ttf');
}

:root {
	font-size: 18px;
}

html,body {
	margin: 0;
	--color-text: #fff;
	--color-bg: #0A0913;
	--color-link: #5a5a5a;
	--color-link-hover: #3eaaf1;
	--color-alt: #3ba2e5;
	--color-info: #e93f3b;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: ltc-bodoni-175, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	padding: 0;
	font-family: Roobert;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,180deg);
		border-radius: 50%;
	}
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a {
	display: block;
	margin: 0 1rem 0.5rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo {
	display: block;
	padding-top: 0.5rem;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-link-hover);
}

.frame__info {
	color: var(--color-info);
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh);
	position: relative;
	justify-content: flex-start;
	align-items: center;
	perspective: 100px;
}

.content__title-wrap {
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 185px;
	left: 50%;
	transform: translateX(-50%);
}

.content__title-wrap a {
	pointer-events: auto;
}

.content__title {
	display: block;
	font-size: 6vw;
	margin: 0.5rem 0 1.5rem;
	font-weight: bold;
	color: #FBF9F4;

	white-space: nowrap;
	opacity: 1;
}
.content__title>span,.content__desc>span{
	display: inline-block;
	transform-style: preserve-3d;
}

@keyframes a1 {
	from{
		transform: translate3d(100px,100px,1300px) scale(2);
		opacity: 0.2;
	}
	to{
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	}
}
@keyframes a2 {
	from{
		transform: translate3d(-100px,-200px,130px) scale(2);
		opacity: 0.2;
	}
	to{
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	}
}
@keyframes a3 {
	from{
		transform: translate3d(-100px,100px,1000px) scale(2);
		opacity: 0.2;
	}
	to{
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	}
}
@keyframes a4 {
	from{
		transform: translate3d(100px,-100px,1300px) scale(2);
		opacity: 0.2;
	}
	to{
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	}
}
.content__title>span:nth-child(1){
	animation: a1 2s ease-in 1;
	background: linear-gradient(145deg, #F8F7FF 0%, #D4D0F7 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.content__title>span:nth-child(2){
	animation: a2 2s ease-in 1;
	background: linear-gradient(145deg, #D4D0F7 0%, #BAB3F2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.content__title>span:nth-child(3){
	animation: a3 2s ease-in 1;
	background: linear-gradient(145deg, #BAB3F2 0%, #A99FEE 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.content__title>span:nth-child(4){
	animation: a4 2s ease-in 1;
	background: linear-gradient(145deg, #A99FEE 0%, #8578E6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content__desc {
	max-width: 446px;
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: inherit;
	text-align: center;
	margin: 0 auto;
}

.content__desc>span:nth-child(1){
	animation: a2 2s ease-in 1;
}
.content__desc>span:nth-child(2){
	animation: a1 2s ease-in 1;
}
.content__desc>span:nth-child(3){
	animation: a4 2s ease-in 1;
}
.content__desc>span:nth-child(4){
	animation: a3 2s ease-in 1;
}
.content__desc>span:nth-child(4){
	animation: a2 2s ease-in 1;
}
.content__desc>span:nth-child(5){
	animation: a3 2s ease-in 1;
}
.content__desc>span:nth-child(6){
	animation: a4 2s ease-in 1;
}
.content__desc>span:nth-child(7){
	animation: a2 2s ease-in 1;
}
.content__desc>span:nth-child(8){
	animation: a4 2s ease-in 1;
}
.content__desc>span:nth-child(9){
	animation: a3 2s ease-in 1;
}


#app {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

canvas {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
}

@media screen and (max-width: 835px) {
	.content__title-wrap{
		top: 40px;
		width: 100%;
		padding: 0 20px;
	}
	.content__title {
		font-size: 40px;
		white-space: pre-wrap;
	}

	.content__desc {
		font-size: 16px;
		line-height: 1.8rem;
		color: inherit;
		text-align: center;
		margin: 0 auto;
	}
}
